<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Color Mixer</title>
</head>

<body id="app">
    <div class="wrapper" :style="'background-color: '+rgbToHex">
        <header>
            <nav>
                <form>
                    <label for="red">r</label>
                    <input type="range" step="1" min="0" max="255" id="red" v-model="r" />
                </form>
                <form>
                    <label for="green">g</label>
                    <input type="range" step="1" min="0" max="255" id="green" v-model="g" />
                </form>
                <form>
                    <label for="blue">b</label>
                    <input type="range" step="1" min="0" max="255" id="blue" v-model="b" />
                </form>
                <button @click="randomColor">Random Color</button>
            </nav>
            <p>{{rgbToHex}}</p>
        </header>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="scripts.js"></script>
</body>

</html>